<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <title>
        关于我
    </title>
</head>
<body>
<!--导航条-->
<nav th:replace="_fragments::menu(5)" class="ui inverted segment attached m-padded-tb-mini" style="-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2)">

</nav>
<!--中间内容-->
<div style="padding-top: 3em !important;
    padding-bottom: 3em !important;max-width: 80em !important;margin: auto !important;">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img src="https://picsum.photos/id/1083/800/600" class="ui rounded image" alt="">
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p>ACCURSEDNESS'S GRT HARDWARECHANGEDSFSDFERWTGERGDFGWEF</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">写作</div>
                    <div class="ui orange basic left pointing label">思考</div>
                    <div class="ui orange basic left pointing label">编程</div>
                    <div class="ui orange basic left pointing label">运动</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal  label" style="margin-top: 1em !important;">java</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">JavaScript</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">vue</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">Linux</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">JQ</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">react</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">bootstrap</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">node</div>
                </div>
                <div class="ui bottom attached segment">
                    <span class="ui circle icon button"><i class="github icon"></i></span>
                    <span class="ui circle icon button" id="weixin"><i class="weixin icon"></i></span>
                    <span class="ui circle icon button" data-content="1929696300" id="qq"><i class="qq icon"></i></span>
                </div>
                <div class="ui flowing popup transition hidden wei">
                    <div class="ui segment">
                        <img src="../static/imgs/er.JPG" alt="" class="ui rounded image" style="width:100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer th:replace="_fragments::footer" class="ui inverted segment vertical m-padded-tb-huge">

</footer>
</body>
<th:block th:replace="_fragments::script">
</th:block>
<script>
    $("#toggle").click(function () {
        console.log("点击了");
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $("#qq").popup();

    $("#weixin").popup({
        popup: $(".wei"),
        on: "hover",
        position: "bottom center"
    });
</script>
</html>
