<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>分类</title>
    <style>
        body {
            background: url("../static/imgs/bg.jpg");
        }

        .m-container-small {
            max-width: 60em !important;
            margin: auto !important;
        }

        .m-mobile-show {
            display: none !important;
        }

        @media screen and(max-width: 768px) {
            .m-mobile-hide {
                display: none !important;
            }

            .m-mobile-show {
                display: block !important;
            }

            .m-moble-wide {
                width: 100% !important;
            }
        }

        .m-opacity-tiny {
            opacity: 0.7 !important;
        }
    </style>
</head>
<body>
<!--导航条-->
<nav class="ui inverted segment attached m-padded-tb-mini" style="-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2)">
    <div class="ui container">
        <div class="ui inverted menu stackable">
            <h2 class="ui header teal item">详情</h2>
            <a href="index.html" class="m-item item m-mobile-hide" style=""><i class="mini home icon"></i>首页</a>
            <a href="types.html" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="blog.html" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="tags.html" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="aboutme.html" class="active m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right item m-item">
                <div class="ui input icon transparent inverted">
                    <input type="text" placeholder="Search......"/>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="toggle" class="ui button button black m-mobile-show" style="position: absolute;top: 0;right: 0;">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div style="padding-top: 3em !important;
    padding-bottom: 3em !important;max-width: 80em !important;margin: auto !important;">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img src="https://picsum.photos/id/1083/800/600" class="ui rounded image" alt="">
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p>ACCURSEDNESS'S GRT HARDWARECHANGEDSFSDFERWTGERGDFGWEF</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">写作</div>
                    <div class="ui orange basic left pointing label">思考</div>
                    <div class="ui orange basic left pointing label">编程</div>
                    <div class="ui orange basic left pointing label">运动</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal  label" style="margin-top: 1em !important;">java</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">JavaScript</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">vue</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">Linux</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">JQ</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">react</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">bootstrap</div>
                    <div class="ui teal  label" style="margin-top: 1em !important;">node</div>
                </div>
                <div class="ui bottom attached segment">
                    <span class="ui circle icon button"><i class="github icon"></i></span>
                    <span class="ui circle icon button" id="weixin"><i class="weixin icon"></i></span>
                    <span class="ui circle icon button" data-content="1929696300" id="qq"><i class="qq icon"></i></span>
                </div>
                <div class="ui flowing popup transition hidden wei">
                    <div class="ui segment">
                        <img src="../static/imgs/er.JPG" alt="" class="ui rounded image" style="width:100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer class="ui inverted segment vertical m-padded-tb-huge">
    <div class="ui container center aligned">
        <div class="ui grid divided inverted stackable">
            <div class="two wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/imgs/er.JPG" style="width: 110px" class="ui rounded image">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户简介</a>
                    <a href="#" class="item">用户简介</a>
                    <a href="#" class="item">用户简介</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户简介</a>
                    <a href="#" class="item">用户简介</a>
                    <a href="#" class="item">用户简介</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-sp m-opacity-mini">ZhaoXingXin</h4>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-sp m-opacity-tiny">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
    </div>
</footer>
</body>
<script src="../static/jar/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $("#toggle").click(function () {
        console.log("点击了");
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $("#qq").popup();

    $("#weixin").popup({
        popup: $(".wei"),
        on: "hover",
        position: "bottom center"
    });
</script>
</html>
